<app-header></app-header>

<mat-card>
    <h1>Hello {{username}}</h1>
    <h3>Groups you are in</h3>
</mat-card>

<mat-card>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let group of groups; let i = index" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
            {{group}}
            </mat-panel-title>
            <mat-panel-description>
            <!-- {{}} -->
            </mat-panel-description>
        </mat-expansion-panel-header>
        <button mat-button class="btn1" (click)="viewGroup(i)" >View Group</button>
        <!-- <button mat-button (click)="editGroup(i)" disabled={{editbuttonDisabled}}>Edit Group</button>
        <button mat-button color="warn" (click)="deleteGroup(i)" disabled={{deletebuttonDisabled}}>Delete Group</button> -->
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>
<!-- <app-chathistory></app-chathistory> -->
