<mat-toolbar color="primary">
    <span><a routerLink="/mainpage">Home Page</a></span>
    <span class="spacer"></span>
    <ul>
        <li>
            <a mat-button routerLink="/myprofile" routerLinkActive="mat-accent">My Profile</a>
        </li>
        <li>
            <a mat-button routerLink="/users" routerLinkActive="mat-accent">Users</a>
        </li>
        <li>
            <a mat-button routerLink="/groups" routerLinkActive="mat-accent">Groups</a>
        </li>
        <li>
            <a mat-button routerLink="/channels" *ngIf="isEnabled" routerLinkActive="mat-accent">Channels</a>
        </li>
        <li>
            <a mat-button routerLinkActive="mat-accent" (click)="logout()">Logout</a>
        </li>
    </ul>
</mat-toolbar>
