<app-header></app-header>
<app-signup></app-signup>

<mat-card>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let user of users; let i = index" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
            {{user.username}}
            </mat-panel-title>
            <mat-panel-description>
            {{user.userRole}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <button mat-button (click)="editUser(i)">Edit User</button>
        <button mat-button color="warn" (click) ="deleteUser(i)">Delete User</button>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>