<app-header></app-header>

<mat-card>
  <h2 id="username">Username: {{userName}}</h2>
  <button mat-raised-button color="warn" id="button" (click)="upgradetoSuperAdmin()" disabled={{superadminbutton}}>Upgrade to Super Admin</button>
</mat-card>

<mat-card>
    <form (submit)="onChange(editUserForm)" #editUserForm="ngForm">

      <mat-form-field id="rolefield" appearance="fill">
        <mat-label>Group</mat-label>
        <mat-select ngModel name="groupname">
            <mat-option *ngFor="let group of groups" [value]="group.groupname">
              {{group.groupname}}
            </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" id="button" disabled={{checkuserbutton}} type="submit">Check User</button>
    </form>
</mat-card>