<mat-card>
    <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
        <mat-form-field id="usernamefield" appearance="fill">
            <input matInput type="text" ngModel name="username" placeholder="Username" #usernameInput="ngModel" required>
            <mat-error *ngIf="usernameInput.invalid">Please enter a Username</mat-error>
        </mat-form-field>

        <mat-form-field id="emailfield" appearance="fill">
            <input matInput type="email" ngModel name="email" placeholder="Email" #emailInput="ngModel" required email>
            <mat-error *ngIf="emailInput.invalid">Please enter a valid Email</mat-error>
        </mat-form-field>

        <mat-form-field id="passwordfield" appearance="fill">
            <input matInput type="password" ngModel name="password" placeholder="Password" #passwordInput="ngModel" required>
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid Password</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" id="button" type="submit" disabled={{createuserbutton}}>Create User</button>

    </form>
</mat-card>
