<mat-card>
    <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
        <mat-form-field id="usernamefield" appearance="fill">
            <input matInput type="text" ngModel name="username" placeholder="Username" #usernameInput="ngModel" required>
            <mat-error *ngIf="usernameInput.invalid">Please enter a Username</mat-error>
        </mat-form-field>

        <mat-form-field id="emailfield" appearance="fill">
            <input matInput type="email" ngModel name="email" placeholder="Email" #emailInput="ngModel" required email>
            <mat-error *ngIf="emailInput.invalid">Please enter a valid Email</mat-error>
        </mat-form-field>

        <!-- <mat-form-field id="rolefield" appearance="fill">
            <mat-label>User Role</mat-label>
            <select matNativeControl ngModel name="userRole" required>
                <option value="Super_Admin">Super Admin</option>
              <option value="Group_Admin">Group Admin</option>
              <option value="Group_Assis">Group Assis</option>
              <option value="User">User</option>
            </select>
          </mat-form-field> -->

        <mat-form-field id="passwordfield" appearance="fill">
            <input matInput type="password" ngModel name="password" placeholder="Password" #passwordInput="ngModel" required>
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid Password</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" id="button" [disabled]="userPermission" type="submit">Create User</button>

    </form>
</mat-card>
