<app-header></app-header>

<mat-card>
<h1>{{groupName}}</h1>

<h3>Your Role:   {{userRole}}</h3>

<hr>
<h3>Users in Group: </h3>
<ul style="display: inline-block;" *ngFor="let user of usersinGroup">
    <li>{{user.username}}</li>  
</ul>

<hr>

<mat-card>
    <mat-tab-group (selectedTabChange)="tabClick($event)">
        <mat-tab *ngFor="let channel of channels; let i = index"label={{channel.channelname}}> 

          <h4>Users in Channel</h4>
              <ul style="display: inline-block;" *ngFor="let user of usersinChannel">
          <li>{{user.username}}</li>  
       </ul>
    <hr>
    <button mat-raised-button color="primary" id="button" disabled="{{startchatbuuton}}" (click)="startChat()" >Start Chatting</button>
           <!-- <app-chathistory></app-chathistory> -->
  </mat-tab>
</mat-tab-group>
