<app-header></app-header>

<h1>Group Name:</h1>

<span><h3>Users in Group: </h3></span>
<ul>
    <li>Chalana</li>
    <li>Chilini</li>
</ul>
<span class="spacer"></span>

<mat-card>
    <mat-tab-group>
  <mat-tab *ngFor="let channel of channels; let i = index"label={{channel.channelname}}> 

    <h2>Users in Channel</h2>
            <mat-expansion-panel *ngFor="let user of users; let userIndex = index" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                {{user.username}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-button color="warn" (click)="addUsers(i, userIndex)">Add User</button>
            </mat-expansion-panel>
  </mat-tab>
</mat-tab-group>
