<app-header></app-header>


<mat-card>
    <form (submit)="onGroupCreate(groupCreateForm)" #groupCreateForm="ngForm">
        <mat-form-field id="groupnamefield" appearance="fill">
            <input matInput type="text" ngModel name="groupname" placeholder="Group name" #groupNameInput="ngModel" required>
            <mat-error *ngIf="groupNameInput.invalid">Please enter a Group name</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" id="button" type="submit">Create</button>

    </form>
</mat-card>


<mat-card>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let group of groups; let i = index" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
            {{group.groupname}}
            </mat-panel-title>
            <mat-panel-description>
            {{group.groupAdmin}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <button mat-button (click)="editGroup(i)" >Edit Group</button>
        <button mat-button color="warn">Delete Group</button>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>
